.App {
  text-align: center;
}

body {
  background-color: #99d8c9;
  color: #222;
}

.icons {
  padding-right: 10px;
  width: 30px;
  height: 30px;
}

ul {
  list-style: none;
  margin: 1rem 3rem 1rem 1rem;
}
li.main-list{
  padding: 25px;
  border-bottom: solid 3px #e5f5e0;
  font-size: larger;
  
}
li {
  color: #e5f5e0;
}
.whole-page {
  padding: 25px;
  text-align: center;
  display: grid;
  grid-template-columns: 300px 2fr;
  gap: 2rem;
}

.tab {
display: inline-block;
margin-left: 75px;
}

.sidenav {
  min-height: 90vh;
  width: 100%;
  align-items: center;

  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(0.75rem);

}

.main-container {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(0.75rem);
}

input {
  padding: 0.75rem 1.75rem;
  margin-right: 10px;
  background-color: #99d8c9;
  border: 1px solid #2ca25f;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.brew-block {
  background-color: #2ca25f ;
  margin-bottom: 1rem;
  padding: 1rem 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  padding: 0.5rem 1rem;
  min-width: 160px;
  background-color: #2ca25f;
  border: 1px solid #2ca25f;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: larger;
}

.display-container {
  display: flex;
  place-content: center;
  min-width: 400px;
  min-height: 240px;
}

.display-box {
  background-color: #2ca25f;
  margin:2rem;
  padding: 1rem 2rem;
  color: #e5f5e0;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}